html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#main {
  height: 70%;
}
header {
  height: 20%;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
}
p {
  float: left;
  left: 70%;
  text-align: center;
}
#showTypeUser {
  float: right;
}
#searchBox {
  left: 300px;
  border: 1px #999999;
}
#postMyRoom {
  padding: 100px, 100px, 0, 70px;
  background-color: red;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  left: 100px;
}
body {
  background-image: url(img/picture2.jpg);
  background-size: 100%;
}

/* Here I decorate the searchInput */
#searchInput {
  padding: 4px 10px;
  height: 40px;
  width: 700px;
  line-height: 20px;
  position: relative;
  left: 200px;
  cursor: text;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#searchInput input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: text;
}

#searchInput:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
/* Here I decorate the start btn */
#startBtn {
  position: relative;
  float: right;
  width: 70px;
  height: 40px;
  border-width: 0;
  border-radius: 3px;
  right: 240px;
  text-decoration-style: dashed;
}
#startBtn :hover {
  background: #5599ff;
}
/* Here for the NavigationBar */
ul.rentorPost {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#rentorPost li {
  display: inline;
}
#rentorPost a {
  position: relative;
  display: inline-block;
  color: black; /* font color */
  text-decoration: none;
  margin: 10px 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; /* font style (uses Google fonts) */
  font-size: 22px; /* font size */
  letter-spacing: 2px; /* letter spacing */
  border-bottom: 2px solid transparent; /* Bottom border style */
  left: 450px;
}
#rentorPost a :hover,
#rentorPost a :focus {
  outline: none;
  border-bottom: 2px solid #eee;
}

#rentorPost a::before,
#rentorPost a:after {
  /* shared style for two circles */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px; /* width of outer circle */
  height: 70px; /* height of outer circle */
  border: 12px double rgba(0, 0, 0, 0.1); /* style and color of circles */
  border-radius: 50%;
  content: "";
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

#rentorPost a:after {
  /* inner circle specific CSS */
  width: 60px; /* width of inner circle */
  height: 60px; /* width of inner circle */
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

#rentorPost a:hover:before,
#rentorPost a:hover:after {
  -webkit-animation: pulsate 1.2s infinite; /* animation name duration loop etc */
  -moz-animation: pulsate 1.2s infinite;
  -ms-animation: pulsate 1.2s infinite;
  animation: pulsate 1.2s infinite;
}
/* Here for the footer */
footer {
  clear: both;
  bottom: 0px;
  height: 10%;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
